---
layout: default
title: Blog
description: Writing from Mark Richards (Gr8ful Dev)
---

<section class="section">
  <div class="container">
    <h2>Blog</h2>
    <p class="section-sub">Occasional writing on software, perseverance and the bits in between.</p>
    <ul class="post-list">
      {% for post in site.posts %}
      <li class="post-item">
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
        {% if post.excerpt %}
        <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 40 }}</p>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</section>